{:paths ["src" "resources" "test" "target/classes"]
 :deps {org.clojure/test.check {:mvn/version "1.1.1"}
        software.amazon.awssdk/s3 {:mvn/version "2.19.17"}
        org.apache.commons/commons-compress {:mvn/version "1.22"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}}

 :jvm-opts ["-XX:+UnlockDiagnosticVMOptions -XX:Inline=false"]
 :aliases {:dev {:extra-paths ["dev"]}
           :build {:deps {io.github.clojure/tools.build
                          {:git/tag "v0.9.1" :git/sha "27ff8a4"}}
                   :extra-paths ["dev"]
                   :ns-default build}}
}
